
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  background: linear-gradient(128deg, #115E8A 0.47%, #2B0D39 95.38%);
  color: #fff; /* Optional: makes text easier to read on dark background */
}


.passwordBox{
  width: 350px;
  padding: 20px;
  background: linear-gradient(18deg, #115E8A 0.47%, #2B0D39 95.38%);
  border-radius: 5px;
}
.passwordBoxin{
  display: flex;
}
.passwordBoxin input{
  flex-basis: 80%;
}
.passwordBox button{
  flex-basis: 20%;
}
.passlengh{
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.passlengh input{
  padding: 10px 0px;
  width: 60px;
}
.btn{
  width: 100%;
  padding: 10px 0px;
  color: white !important;
  background-color: rgb(0, 0, 0) !important;
  
}